In [1]:
import pandas as pd
import numpy as np
import re
import time
import json

import requests as rq
import bs4 as bs4

In [2]:
queries = ["machine+learning","data+science","kaggle"]
url = "https://www.youtube.com/results?search_query={query}&sp=CAI%253D&p={page}"

## Data collect

In [5]:
for query in queries:
    for page in range(1,5):
        urll = url.format(query=query,page=page)
        print(urll)
        response = rq.get(urll)
        
        with open('./dados_brutos/{}_{}.html'.format(query,page), 'w+', encoding="utf-8") as output:
            output.write(response.text)
        
        time.sleep(2)

https://www.youtube.com/results?search_query=machine+learning&sp=CAI%253D&p=1
https://www.youtube.com/results?search_query=machine+learning&sp=CAI%253D&p=2
https://www.youtube.com/results?search_query=machine+learning&sp=CAI%253D&p=3
https://www.youtube.com/results?search_query=machine+learning&sp=CAI%253D&p=4
https://www.youtube.com/results?search_query=data+science&sp=CAI%253D&p=1
https://www.youtube.com/results?search_query=data+science&sp=CAI%253D&p=2
https://www.youtube.com/results?search_query=data+science&sp=CAI%253D&p=3
https://www.youtube.com/results?search_query=data+science&sp=CAI%253D&p=4
https://www.youtube.com/results?search_query=kaggle&sp=CAI%253D&p=1
https://www.youtube.com/results?search_query=kaggle&sp=CAI%253D&p=2
https://www.youtube.com/results?search_query=kaggle&sp=CAI%253D&p=3
https://www.youtube.com/results?search_query=kaggle&sp=CAI%253D&p=4

In [6]:
for query in queries:
    for page in range(1,5):
        with open("./dados_brutos/{}_{}.html".format(query,page),'r+',encoding="utf-8") as imp:
            page_html = imp.read()
            
            parsed = bs4.BeautifulSoup(page_html)
            
            tags = parsed.findAll("a")
            
            for e in tags:
                if e.has_attr("aria-describedby"):
                    link = e['href']
                    title = e['title']
                    with open("parsed_videos.json",'a+',encoding="utf-8") as output:
                        data = {"link":link,"title":title,"query":query}
                        output.write("{}\n".format(json.dumps(data)))

## Result check

In [7]:
df = pd.read_json("parsed_videos.json",lines=True)

In [8]:
df.sort_values("title")

,link,title,query
7097,/watch?v=OoB_LQpgDCk,"""Inversion"": Walter Reade | Data Science at Ka...",kaggle
6950,/watch?v=Lzgixrr40I0,"#08 - DataFrame: IntroduÃ§Ã£o, CriaÃ§Ã£o e IndexaÃ§...",data+science
7103,/watch?v=uVHjY7owVl0,#Kaggle #COVID19 #Data-Science-Diva Walkthroug...,kaggle
6754,/watch?v=TeMI0vtGQmI,"#OnEstEnsemble - La matinale du samedi 30 mai,...",data+science
7033,/watch?v=IJCiQh-rQRw,"#discovery-engine - May 29, 2020 - sync with D...",kaggle
...,...,...,...
6833,/watch?v=uHJbgo8A8FM,query - word meaning in Tamil,kaggle
6700,/watch?v=uHJbgo8A8FM,query - word meaning in Tamil,machine+learning
6944,/watch?v=gAA4xDs-l4k,vRealize Network Insight: Using Machine Learni...,machine+learning
6956,/watch?v=GVtPg2chrEc,ðŸ‡¬ðŸ‡§ Data science and Engineering LM,data+science
6987,/watch?v=jQlOqnl9SsE,ðŸ‡¬ðŸ‡§ Data science and engineering,data+science